@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Cinzel:wght@400;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#090909;
color:white;
overflow:hidden;
height:100vh;

/* MAIN FONT */
font-family: 'Poppins', sans-serif;
}

/* HEADINGS FONT (cinematic feel) */
h1{
font-family: 'Cinzel', serif;
font-size:3rem;
margin-bottom:20px;
color:#ffd699;
letter-spacing:1px;
}

.screen{
position:absolute;
width:100%;
height:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:30px;
}

.hidden{
display:none;
}

p{
max-width:800px;
line-height:1.8;
font-size:1.2rem;
}

button{
margin-top:30px;
padding:15px 35px;
border:none;
border-radius:50px;
cursor:pointer;
font-size:18px;
font-family: 'Poppins', sans-serif;
}

.next{background:#ffd699;}
.yes{background:#ff4f81;color:white;}
.no{background:white;color:black;}

.buttons{
display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;
}

.result{
margin-top:20px;
max-width:900px;
white-space:pre-line;
line-height:2;
font-size:1.2rem;
font-family: 'Poppins', sans-serif;
}
